<html>
<head>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisors Index", "/franchisors"%></div><br>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisees Index", "/franchisees"%></div>

  <h1>Update <%= @franchisor.name %>'s Info</h1>
</head>

<body style="font-size:20px">
  <table>
    <%= form_with url: "/franchisors/#{@franchisor.id}", method: :patch, local: true do |form| %>
      <tr><td><%= form.label :name, "Name:" %></td><td><%= form.text_field :name %></td></tr>
      <tr><td><%= form.label :hq_city, "HQ City:" %></td><td><%= form.text_field :hq_city %></td></tr>
      <tr><td><%= form.label :hq_state, "HQ State:" %></td><td><%= form.text_field :hq_state %></td></tr>
      <tr><td><%= form.label :quick_service, "Quick Service Restaurant?" %></td><td><%= form.check_box :quick_service %></td></tr>
      <tr><td><%= form.label :franchisee_cost, "Franchisee Cost:" %></td><td><%= form.number_field :franchisee_cost %></td></tr>
  </table><br>
      <div><%= form.submit "Update #{@franchisor.name}" %>
    <% end %></div>
</body>
</html>
