<html>
<head>
  <h1>Enter in New Franchisor</h1>
</head>

<body style="font-size:20px">
  <%= form_with url: '/franchisors', method: :post, local: true do |form| %>
    <div><%= form.label :name, "Name" %> <%= form.text_field :name %></div>
    <div><%= form.label :hq_city, "HQ City" %> <%= form.text_field :hq_city %></div>
    <div><%= form.label :hq_state, "HQ State" %> <%= form.text_field :hq_state %></div>
    <div><%= form.label :quick_service, "Quick Service Restaurant?" %> <%= form.check_box :quick_service %></div>
    <div><%= form.label :franchisee_cost, "Franchisee Cost" %> <%= form.number_field :franchisee_cost %></div><br>
    <div><%= form.submit "Create Franchisor" %></div>
  <% end %>
</body>
</html>
