<div style="text-align:right"><%= link_to "Franchisors Index", "/franchisors"%></div>
<br>
<div style="text-align:right"><%= link_to "Franchisees Index", "/franchisees"%></div>

<h1><%= @franchisor.name %></h1>

<div>
  <p>HQ City:                     <%= @franchisor.hq_city %> </p>
  <p>HQ State:                    <%= @franchisor.hq_state %> </p>
  <p>Quick Service Restaurant?    <%= @franchisor.quick_service %> </p>
  <p>Franchisee Cost:             <%= @franchisor.franchisee_cost %> </p>
  <p>Number of Franchisees:       <%= @franchisor.franchisees.count %> </p>
  <p>Date Created at in Database: <%= @franchisor.created_at.strftime('%Y-%m-%d') %> </p>
  <p>Date Updated at in Database: <%= @franchisor.updated_at.strftime('%Y-%m-%d') %> </p>
</div>
