<html>
<head>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisors Index", "/franchisors"%></div><br>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisees Index", "/franchisees"%></div>

  <h1><%= @franchisor.name %></h1>
</head>

<body style="font-size:20px">
  <div> <%= link_to "List of Franchisees", "/franchisors/#{@franchisor.id}/franchisees" %> </div><br>
  <table>
    <tr><td>HQ City:</td><td><%= @franchisor.hq_city %></td></tr>
    <tr><td>HQ State:</td><td><%= @franchisor.hq_state %></td></tr>
    <tr><td>Quick Service Restaurant?</td><td><%= @franchisor.quick_service %></td></tr>
    <tr><td>Franchisee Cost:</td><td>$<%= @franchisor.franchisee_cost %></td></tr>
    <tr><td>Number of Franchisees:</td><td><%= @franchisor.count_franchisees %></td></tr>
    <tr><td>Date Created at in Database:</td><td><%= @franchisor.created_at.strftime('%Y-%m-%d') %></td></tr>
    <tr><td>Date Updated at in Database:</td><td><%= @franchisor.updated_at.strftime('%Y-%m-%d') %></td></tr>
  </table><br>
  <div><%= button_to "Edit #{@franchisor.name}", "/franchisors/#{@franchisor.id}/edit", method: :get %></div><br>
  <div><%= button_to "Delete #{@franchisor.name}", "/franchisors/#{@franchisor.id}", method: :delete %></div>
</body>
</html>
