<h1>Denver's Marijuana Licenses</h1>
<br>
<table style='width:100%'>
  <tr>
    <th>License Number</th>
    <th>Business Name</th>
    <th>Facility Address</th>
    <th>License Type</th>
    <th>License Status</th>
    <th>License Expiration</th>
    <th>More Details</th>
    <th>Delete License</th>
  </tr>
    <% @b1permits.each do |license| %>
      <tr>
      <td><%= license.id %></td>
      <td><%= license.b1_special_text %></td>
      <td><%= B3Facility.find(license.b3_facility_id).full_address %></td>
      <td><%= license.b1_per_sub_type %></td>
      <td><%= license.b1_appl_status %></td>
      <td><%= license.b1_expiration.strftime("%m/%d/%Y") %></td>
      <td><a href="/licenses/<%= license.id %>">See More Info</a>
      /
      <a href="/licenses/<%= license.id %>/edit">Edit Info </a></td>
      <td><%= link_to "Delete License", "/licenses/#{license.id}", method: :delete %>
      </tr>
      <% end %>
</table>
    <br><br>

  <h3>Sort Preference:</h3>
  <%= link_to "Sort By ID", licenses_path(:order_by => "id") %><br>
  <%# You can also achieve this with a query parameter which is something like this%>
  <%# <%= link_to "Sort By ID", /licenses?order_by=id) %>
  <%= link_to "By Business Name", licenses_path(:order_by => "b1_special_text")%><br>
  <%# To default the value, use the value: shown below
  <%= form.text_field :plant_count_filter,  value: "50" %>
  <%# To do a query parameter
   <%= button_to 'Filter', "/facilities?limit=5", method: :get %> %>


