<h1>Licenses at <%= @b3_facility.full_address %></h1>

<br>

<%= button_to "Add New License", "/facilities/#{params[:id]}/licenses/new", method: :get %>

<h3>This facility currently has <%= @b1permits.count%> license(s):</h3>

<table style='width:100%'>
  <tr>
    <th>License Number</th>
    <th>Business Name</th>
    <th>License Type</th>
    <th>License Status</th>
    <th>License Expiration</th>
    <th>More Details</th>
  </tr>
  <% @b1permits.each do |permit| %>
    <tr><td><%= permit.id%></td>
    <td><%= permit.b1_special_text %></td>
    <td><%= permit.b1_per_sub_type %></td>
    <td><%= permit.b1_appl_status %></td>
    <td><%= permit.b1_expiration.strftime("%m/%d/%Y") %></td>
    <td><a href="/licenses/<%= permit.id %>">See More Info</a>
    /
    <%= link_to "Edit Info", "/licenses/#{permit.id}/edit" %>
    </tr>
  <% end %>
  </table><br>

  <h3>Sort Preference:</h3>
  <%= link_to "Sort By ID", faclic_path(:order_by => "id") %><br>
  <%# You can also achieve this with a query parameter which is something like this%>
  <%# <%= link_to "Sort By ID", /licenses?order_by=id) %>
  <%= link_to "By Business Name", faclic_path(:order_by => "b1_special_text")%><br>


  <h3>Filter Preference:</h3>
  <%= form_with url: "/facilities/#{params[:id]}/licenses/", method: :get, local: true do |form| %>
  <%= form.label :plant_count_filter, 'Filter by plant count greater than:' %>
  <%= form.text_field :plant_count_filter %>
  <%= form.submit 'Filter' %>
  <% end %>

