<html>
<head>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisors Index", "/franchisors"%></div><br>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisees Index", "/franchisees"%></div>

<h1>Update <%= @franchisee.name %>'s Info</h1>
</head>

<body style="font-size:20px">
  <table>
    <%= form_with url: "/franchisees/#{@franchisee.id}", method: :patch, local: true do |form| %>
    <tr><td><%= form.label :name, "Name:" %></td><td><%= form.text_field :name %></td></tr>
    <tr><td><%= form.label :city, "City:" %></td><td><%= form.text_field :city %></td></tr>
    <tr><td><%= form.label :state, "State:" %></td><td><%= form.text_field :state %></td></tr>
    <tr><td><%= form.label :independent, "Independent?" %></td><td><%= form.check_box :independent %></td></tr>
    <tr><td><%= form.label :annual_sales, "Annual Sales:" %></td><td><%= form.number_field :annual_sales %></td></tr>
    <tr><td><%= form.label :initial_fee, "Initial Fee to Franchisor:" %></td><td><%= form.number_field :initial_fee %></td></tr>
    <tr><td><%= form.label :pct_fee, "Annual Percent Fee to Franchisor:" %></td><td><%= form.number_field :pct_fee %></td></tr>
  </table><br>
    <div><%= form.submit "Update #{@franchisee.name}" %>
<% end %></div>
</body>
</html>
