<html>
<head>
  <h1>Franchisees</h1>
</head>

<body style="font-size:20px">
  <table>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Independent?</th>
      <th>Annual Sales</th>
      <th>Initial Fee to Franchisor</th>
      <th>Annual Percent Fee</th>
      <th>Date Created</th>
      <th>Date Updated</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <% @franchisees.each do |franchisee| %>
    <tr>
      <td><%= franchisee.name %></td>
      <td><%= franchisee.city %></td>
      <td><%= franchisee.state %></td>
      <td><%= franchisee.independent %></td>
      <td>$<%= franchisee.annual_sales %></td>
      <td>$<%= franchisee.initial_fee %></td>
      <td><%= (franchisee.convert_number).round(2) %>%</td>
      <td><%= franchisee.created_at.strftime('%Y-%m-%d') %></td>
      <td><%= franchisee.updated_at.strftime('%Y-%m-%d') %></td>
      <td><%= button_to "Update #{franchisee.name}", "/franchisees/#{franchisee.id}/edit", method: :get %></td>
      <td><%= button_to "Delete #{franchisee.name}", "/franchisees/#{franchisee.id}", method: :delete %></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
