<div style="text-align:right"><%= link_to "Franchisors Index", "/franchisors"%></div>

<h1>Franchisees</h1>

<p>  Name                      City                      State                       Independent                     Annual Sales                      Initial Fee                     Annual Percent Fee to HQ    Date Created:                                       Date Updated: </p>
<% @franchisees.each do |franchisee| %>
  <p><%= franchisee.name %>    <%= franchisee.city %>    <%= franchisee.state %>     <%= franchisee.independent %>   <%= franchisee.annual_sales %>    <%= franchisee.initial_fee %>   <%= franchisee.pct_fee %>   <%= franchisee.created_at.strftime('%Y-%m-%d') %>   <%= franchisee.updated_at.strftime('%Y-%m-%d') %>
     <%= button_to "Update #{franchisee.name}", "/franchisees/#{franchisee.id}/edit", method: :get %></p>
<% end %>
