<html>
<head>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisors Index", "/franchisors"%></div><br>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisees Index", "/franchisees"%></div>

  <h1><%= @franchisee.name %></h1>
</head>

<body style="font-size:20px">
  <table>
    <tr><td>City:</td><td><%= @franchisee.city %></td></tr>
    <tr><td>State:</td><td><%= @franchisee.state %></td></tr>
    <tr><td>Independent?</td><td><%= @franchisee.independent %></td></tr>
    <tr><td>Annual Sales:</td><td>$<%= @franchisee.annual_sales %></td></tr>
    <tr><td>Initial Fee to Franchisor:</td><td>$<%= @franchisee.initial_fee %></td></tr>
    <tr><td>Annual Percent Fee to Franchisor:</td><td><%= @franchisee.pct_fee * 100 %>%</td></tr>
    <tr><td>Franchisor Name:</td><td><%= @franchisee.franchisor.name %></td></tr>
    <tr><td>Date Created at in Database:</td><td><%= @franchisee.created_at.strftime('%Y-%m-%d') %></td></tr>
    <tr><td>Date Updated at in Database:</td><td><%= @franchisee.updated_at.strftime('%Y-%m-%d') %></td></tr>
  </table><br>
  <div><%= button_to "Update #{@franchisee.name}", "/franchisees/#{@franchisee.id}/edit", method: :get %></div><br>
  <div><%= button_to "Delete #{@franchisee.name}", "/franchisees/#{@franchisee.id}", method: :delete %></div>
</body>
</html>
