<h1> <%= @franchisor.name %> </h1>

<p>    ID                 Name                      City                        State                       Independent                     Annual Sales                      Initial Fee                     Percent Fee to HQ           Franchisor ID                     Date Created:                                       Date Updated: </p>
<% @franchisees.each do |franchisee| %>
  <p><%= franchisee.id %>   <%= franchisee.name %>    <%= franchisee.city %>    <%= franchisee.state %>     <%= franchisee.independent %>   <%= franchisee.annual_sales %>    <%= franchisee.initial_fee %>   <%= franchisee.pct_fee %>   <%= franchisee.franchisor_id %>   <%= franchisee.created_at.strftime('%Y-%m-%d') %>   <%= franchisee.updated_at.strftime('%Y-%m-%d') %> </p>
<% end %>
