<html>
<head>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisors Index", "/franchisors"%></div><br>
  <div style="text-align:right; font-size:large"><%= link_to "Franchisees Index", "/franchisees"%></div>

<h1>Enter in New Franchisee for <%= @franchisor.name %></h1>
</head>

<body style="font-size:20px">
    <%= form_with url: "/franchisors/#{@franchisor.id}/franchisees", method: :post, local: true do |form| %>
      <div><%= form.label :name, "Name" %> <%= form.text_field :name %></div>
      <div><%= form.label :city, "City" %> <%= form.text_field :city %></div>
      <div><%= form.label :state, "State" %> <%= form.text_field :state %></div>
      <div><%= form.label :independent, "Independent?" %> <%= form.check_box :independent %></div>
      <div><%= form.label :annual_sales, "Annual Sales" %> <%= form.number_field :annual_sales %></div>
      <div><%= form.label :initial_fee, "Initial Fee to HQ" %> <%= form.number_field :initial_fee %></div>
      <div><%= form.label :pct_fee, "Annual Percent Fee to HQ" %> <%= form.number_field :pct_fee %></div><br>
      <div><%= form.submit "Create Franchisee" %></div>
    <% end %>
  </body>
  </html>
