<h1>Denver's Licensed Marijuana Facilities</h1>
<br>

<%= button_to "Add New Facility", "/facilities/new", method: :get %>
<%# This would be the syntax for the "Add New Facility" button in HTML %>
<%# <form action="/facilities/new" method = get>
  <input type='submit' value='Add New Facility' /><br>
</form><br> %>

<h3>Showing <%= @b3facilities.count%> facilities:</h3>
<table style='width:100%'>
  <tr>
    <th>Facility ID</th>
    <th>Facility Address</th>
    <th>Facility Information</th>
    <th>Facility Licenses</th>
    <th>Delete Facility</th>
  </tr>
  <% @b3facilities.each do |facility| %>
    <tr>
      <td><%= facility.id %></td>
      <td><%= facility.full_address %></td>
      <td><%= link_to "See Info", "/facilities/#{facility.id}" %> / <%= link_to "Edit Info", "/facilities/#{facility.id}/edit" %></td>
      <td><%= link_to "See Licenses", "/facilities/#{facility.id}/licenses" %></td>
      <td><%= link_to "Delete Facility", "/facilities/#{facility.id}", method: :delete %>
    </tr>
  <% end %>
</table>

<h3>Filter Preference:</h3>
<%= form_with url: "/facilities", method: :get, local: true do |form| %>
  <%= form.label :exact_address_filter, 'Filter by exact address:' %>
  <%= form.text_field :exact_address_filter %>
  <%= form.submit 'Filter' %><br><br>
  <%= form.label :partial_address_filter, 'Filter by partial address:' %>
  <%= form.text_field :partial_address_filter %>
  <%= form.submit 'Filter' %>
<% end %>
