<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="topnav">
     <%= image_tag('data_explorer.png', id: 'main-logo') %>
      <span style="text-align: right">
      <a class="active" href="/">Home</a>
      <a class="active" href="/facilities">Facilities</a>
      <a class="active" href="/licenses">Licenses</a>
      <a class="active" href="/franchisors">Franchisors</a>
      <a class="active" href="/franchisees">Franchisees</a>
      </span>
    </div>

    <%= yield %>
  </body>
</html>
