<!DOCTYPE html>
<html>
  <head>
  <style>
  table, th {
    text-align: left;
    vertical-align: text-top;
    border: 1px solid black;
  }
  td {
    border: 1px dotted black;
  }
  </style>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
